VITE_SUPABASE_URL=https://ghplxntmcirvdofllgkr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdocGx4bnRtY2lydmRvZmxsZ2tyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0MzUwOTcsImV4cCI6MjEwNTAxMTA5N30.A0Z2FSr7BihIWf9z1mHAtCzJGuBt5yp_1Dizk83i7Lo
